<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../mood.css">
    </head>  
    <body>
        <div>
            <button id="home" onclick="location.href='http://localhost:3000/'">HOME</button>
        </div>

        <div>
            <h1 id="subtitle">HAPPY</h1>
        </div>

        
        <div id="tableContainer1">
            <div id="tableContainer2">
                <table>
                    <tr>
                        <td>
                            <a href={{link}}>name of song1</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a>name of song2</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a>name of song3</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </body>
</html>