
  <body>
    <div>
        <button>HOME</button>
    </div>

    <div>
        <h1>MOOD</h1>
    </div>

    <div>
        <table>
            <tr>
                <td>
                    {{id}}
                </td>
            </tr>
        </table>
    </div>

    <div>
        <table>
            <tr>
                <td>
                    list of songs
                </td>
            </tr>
        </table>
    </div>
</body>
</html>