
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link href="../mood.css" type="text/css" rel="stylesheet" />
	<title>Document</title>

	<style>
		#display{
			border: 1px solid black;
		}

		#playlist{
			border: 1px solid black;
		}

		#mainContent{
			text-align: center;
			width: 50%;
			margin: auto;
		}
		body{
			text-align: center;
		}


	</style>
</head>
<body>
	
	<button>Home</button>
	<p>ads</p>

		<h1>Mood1</h1>

	<div id="mainContent">
		<div id="display">
			<span>Hello</span>
		</div>

		<ul id="playlist">
			<li>Song1</li>
			<li>Song1</li>
			<li>Song1</li>
			<li>Song1</li>
		</ul>
	</div>



</body>
</html>
