
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link href="../mood.css" type="text/css" rel="stylesheet" />
	<title>Document</title>

	<style>
		#display{
			border: 1px solid black;
		}

		#playlist{
			border: 1px solid black;
			height: 55vh;
			overflow-y: scroll;
		}

		#mainContent{
			text-align: center;
			width: 50%;
			margin: auto;
		}
		body{
			text-align: center;
		}

		ul{
			list-style-type: none;    
			padding: 0;
		}

		button {
			position: absolute;
			top: 2rem;
			left: 2rem;
		}

		li{
			padding: 1.5em 0;
			border-bottom: 1px solid rgba(100,100,100,0.5);
		}
	</style>
</head>
<body>
	
	<button>Home</button>
	<h1>Mood1</h1>

	<div id="mainContent">
		<div id="display">
			<span>Song1 title</span>
		</div>

		<ul id="playlist">
			<li>Song1</li>
			<li>Song1</li>
			<li>Song1</li>
			<li>Song1</li>
			<li>Song1</li>
			<li>Song1</li>
			<li>Song1</li>
			<li>Song1</li>
			<li>Song1</li>
			<li>Song1</li>
			<li>Song1</li>
			<li>Song1</li>
			<li>Song1</li>
			<li>Song1</li>
		</ul>
	</div>
	


</body>
</html>
